div{
    align-items: center;
    border-color: 10px solid red;
    width: 300px;
    height: auto;
    border-radius: 10px;
    
    
}
.home{
    height: 40px;
    width: auto;
    float: left;
}
.home2{
    height: 40px;
    width: auto;
    float: right;
}
h2{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(37, 48, 255);
}
.kamal9{
    display: flex;
    justify-content: space-evenly;
   
}
div{
    padding: 30px;
    text-align: center;
}
img{
  border-radius: 10px;
}
.btn{
    color: rgb(212, 111, 86);
    background-color: aquamarine;
    border-radius: 5px;
    
}
.box{
    
}
.box:hover{
background-color: rgb(255, 149, 0);
}
body{
    background-image:url('download.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.kamal3{
    margin-top: -10px;
    
}
.title{
    width: 250px;
    float: right;
    text-align: center;
    border: 1px solid black;
    color: rgb(255, 0, 0);
    overflow-y: scroll;
    height: 100%;
}
.cartImg > img{
    width:200px
}
@media screen and (max-width : 400px) {
    .kamal9{
        display: grid;
     grid-column: auto;  
    justify-content: center;
    margin-left: -5%;
    }
    
}